.header {
  width: 100%;
  padding: 89px 50px 94px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
}

.header__nav {
  margin-right: 44px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 33px;
  list-style: none;
}

.header__nav-list-item {
  list-style-type: circle;
}

.header__nav-list-item:first-child {
  list-style-type: none;
}

.header__nav-list-item:first-child .header__nav-link {
  text-decoration: none;
}

.header__nav-link {
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 4px;
}

.header__logo-link {
  margin-right: auto;
}

.header__logo {
  width: 135px;
  height: 107px;
}

.info {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: 18px;
  line-height: 24.3px;
  color: #000;
  text-align: left;
}

.info__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.promo-section {
  position: relative;
  width: 100%;
  margin-bottom: 185px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-section * {
  position: relative;
  z-index: 2;
}

.promo-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
  z-index: 1;
}

.heading {
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
}

.heading__line_middle {
  margin-left: 330px;
}

.heading__line_bottom {
  margin-left: auto;
  letter-spacing: 30px;
}

.heading__line_top span {
  letter-spacing: 30px;
}

.heading__line_bottom span {
  letter-spacing: 30px;
}

span.ls-0 {
  letter-spacing: normal;
}

.promo-section__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-section__subtext {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  letter-spacing: -0.1px;
  color: #fff;
}

.promo-section__btn {
  border: 1px #fff solid;
  padding: 14px 32px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.lots-section {
  margin-bottom: 120px;
  padding: 0px 24px;
}

.subheading {
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000;
}

.cards-list {
  width: 100%;
  margin-bottom: 33px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 596px;
  gap: 25px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card * {
  position: relative;
  z-index: 2;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
  z-index: 1;
}

.card__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;

  color: #fff;
}

.card_bg1 {
  background-image: url("../images/card-lot-01.jpg");
}

.card_bg2 {
  background-image: url("../images/card-lot-02.jpg");
}

.card_bg3 {
  background-image: url("../images/card-lot-03.jpg");
}

.section-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-underline-offset: 4px;
}

.about-section {
  margin-bottom: 180px;
  padding-top: 36px;
  padding-left: 71px;
  padding-right: 29px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-section__img {
  width: 240px;
  height: 240px;
}

.about-section__content {
  max-width: 693px;
  margin-top: 103px;
}

.about-section__heading {
  margin-left: 0;
  margin-bottom: 104px;
}

.about-section__text {
  max-width: 688px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.about-section__text:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  width: 100%;
  padding: 0px 50px 82px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.footer__info {
  max-width: 250px;
  margin-right: 177px;
  margin-bottom: 154.03px;
  align-items: flex-start;
  text-align: left;
}

.footer__nav {
  margin-right: auto;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  text-underline-offset: 2px;
}

.footer__nav-link:first-child {
  text-decoration: none;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footer__socials-link svg {
  width: 48px;
  height: 48px;
}
